body{
  margin:auto;
  padding:20px;
}

.topimages{
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  height: 200px;
  width:auto;
  padding-bottom: 60px;
  /* padding: 30px; */
}
p{
  display:flex;
  justify-content: center;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
  background-color: #DD752F;
  /* color:#EECC00; */

}
/* ul{
  font-family: 'Amatic SC', cursive;
font-family: 'Cinzel', serif;
font-size: 30px;
display:flex;
justify-content: center;
} */

img{
  height:auto;
  width:200px;
}

a{
  display: flex;
  justify-content: flex-end;
  /* width:300px; */
}

.contact{
  width:300px;
 }

 .question{
   font-family: 'Amatic SC', cursive;
 font-family: 'Cinzel', serif;
 padding-left: 25px;
 }

 ul{
   font-family: 'Work Sans', sans-serif;
 }

 .question{
   font-family: 'Amatic SC', cursive;
 font-family: 'Cinzel', serif;
 }
